* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

section {
    font-size: 2rem;
    color: slategray;
    position: relative;
    width: 100%;
    min-height: 100vh; /* default 100 chnaged for testing purposes */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 3px slategray;
    /* margin-top: 64px; */
}

section#a {
    /* margin-top: 64px; */
}

section#b {
color: white;
background-color: teal;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: slategray;
    text-align: center;
    z-index: 1;
}

nav a {
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 2rem;
    display: inline-block;
}

nav a:hover, 
section#a:hover ~ nav a[href='#a'],
section#b:hover ~ nav a[href='#b'],
section#c:hover ~ nav a[href='#c'],
section#d:hover ~ nav a[href='#d'] {
    background-color: #fff;
    color: slategray;
}

::-webkit-scrollbar {
    width: 0;
}

